@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

.dots {
  width: 13.4px;
  height: 13.4px;
  background: #16a34a;
  color: #16a34aff;
  border-radius: 50%;
  box-shadow: 13.4px 0,-26.9px 0;
  animation: dots-h5boszmd 0.5s infinite linear alternate;
}

@keyframes dots-h5boszmd {
  50% {
    box-shadow: 13.4px 0,-13.4px 0;
  }

  100% {
    box-shadow: 26.9px 0,-13.4px 0;
  }
}
